<body>
<form>
    <legend >Choose a flight</legend>
    <p>click on time to book a flight</p>
    <fieldset style="height:50%">
        
            
            FA 1:<button type="text" (click)="onbutton()" name="FA1">10am---12:00pm</button>R600<br><br>
            FA2:<button type="text" (click)="onbutton()"  name="FA2" >10:30am---13:00pm</button> R600<br><br>
            FA3:<Button type="text" (click)="onbutton()" name="FA3" >10am---13:00pm</Button> R600<br><br>
            FA3:<Button type="text" (click)="onbutton()"name="FA3" >10am---13:00pm</Button> R600<br><br>
            FA3:<Button type="text" (click)="onbutton()"name="FA3" >10am---13:00pm</Button> R600<br><br>
        </fieldset>
        </form>
    </body>