// /* You can add global styles to this file, and also import other style files */
body{
    // background-image:url('/assets/gettyimages.jpg');
   background-color: lightgray;
    background-repeat:no-repeat;
    background-size:cover;
    //width:80%;
    //height:30vh;
    //color:rgb(0, 0, 7);
    // padding-top:10px;
    //margin-left: auto;
    //margin-right: auto;
    //font-size:20px; 
}




	 
     
   