<body>
<h1>Education Backgroud </h1>
        <hr/>
      
        <Table>
              
                        <tr>
                            <th>School</th>
                            <th>Subject</th>
                        </tr>
                        <tr>
                            <td>Bakenberg High School</td>
                            <td>
                                <ul>
                                    <li>Mathematics</li>
                                    <li>Sepedi</li>
                                    <li>English</li>
                                    <li>Life Oriantation</li>
                                    <li>Life Science</li>

                                </ul>
                            </td>
                        </tr>
                    

        
        </Table>



            <h1>Tertiary Background</h1>
           
            <table>
                <tr>
                    <th>University</th>
                    <th>Modules</th>
                </tr>
                <tr>
                    <td>University of Limpopo</td>
                    <td>
                        <ol>
                            <li>Mathematics</li>
                            <li>Statistics</li>
                            <li>Applied mathematics</li>
                            <li>Computer Science</li>
                        </ol>
                    </td>
                </tr>
            </table>
            </body>
            <div class="footer">
                <p>Created by Christina Kenti Motswagole</p>
              </div>

        


                    

        
        