<!-- <body>
    
    <form>
        <label style="font-size: 30px">Flight</label>
  <fieldset>
    
    
      Round Trip <input type="radio" name="RTrip" > 
      One Way <input type="radio" name="Oneway" > <br>
      Origin:<select>
        <option value="Origin">Origin</option>
        <option value="OR Tambo Int Airport Jhb">OR Tambo Int Airport Jhb</option>
        <option value="Lanseria Int Jhb">Lanseria Int Jhb</option>
        <option value="Cape Town Int">Cape Town Int </option>
        <option value="East London">East London </option>
        <option value="Durban">Durban </option>
        <option value="George">George </option>
        <option value="Port Elizabeth">Port Elizabeth </option>
        
      </select>
      Destination:<select>
        <option value="Destination">Destination</option>
        <option value="OR Tambo Int Airport Jhb">OR Tambo Int Airport Jhb</option>
        <option value="Lanseria Int Jhb">Lanseria Int Jhb</option>
        <option value="Cape Town Int">Cape Town Int </option>
        <option value="East London">East London </option>
        <option value="Durban">Durban </option>
        <option value="George">George </option>
        <option value="Port Elizabeth">Port Elizabeth </option>
        
      </select>
  </fieldset>

    <fieldset>
      <legend>Date</legend>
      
         
      Departing: <input type="date" name="Departing" required>
      Returning: <input type="date" name="returning" required>
       
    </fieldset>

    <fieldset>
        <legend>Passenger</legend>
        
           
        Adult: <select >
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        Youth: <select >
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        Children:<select>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        Infant: <select>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
         
      </fieldset>

      <fieldset>
          <legend>Cabin class / Promotion</legend>
          
          Cabin:<select required>
                 <option value=""></option>
                <option value="Economy">Economy</option>
                <option value="Business">Business</option>
          
             </select>
        </fieldset><br>
        

      <button type="button" (click)="onclick()">Book</button>
      
  </form>
</body>
  <table>
      <tr>
        <th>
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="/assets/images (2).jpg" alt="Avatar" style="width:300px;height:200px;">
                    <h3>Extra bags</h3>
                    <p>Add extra bags up to 2 hours before flying.</p>
                  </div>
                  <div class="flip-card-back">
                    <h1>Save as much as 30%</h1> 
                    <h1>on our flight</h1> 
                  </div>
                </div>
              </div>
        </th>
    
        <td>
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="/assets/images (3).jpg" alt="Avatar" style="width:300px;height:200px;">
                    <h3>Pre-paid seats</h3>
                      <p>Sit in the seat of your choice.</p>
                    </div>
                  <div class="flip-card-back">
                    <h1>Pay for any flight, in full or part,</h1>
                      <h1>using your Diners Club ClubMiles</h1> 
                    
                  </div>
                </div>
              </div>
        </td>
        <td>
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="/assets/download (1).jpg" alt="Avatar" style="width:300px;height:200px;">
                    <h3>Flight and bag cover</h3>
                      <p>Get peace of mind.</p> 
                  </div>
                  <div class="flip-card-back">
                    
                    
                  </div>
                </div>
              </div>
        </td>
       </tr> 
       <br><br><br><br><br><br><br><br>
       
       <tr style="color:blue;text-align:left">
          <td>7 Airports <br>Connected</td>
          <td>74  Daily <br> Flights</td>
          <td>2240 Flights <br> per Month</td>
          <td>1017 Skilled <br> Employees</td>
        </tr>
    </table> -->
  <!-- <div class="footer" style="text-align: left">
    <p>Copyright © 1998-2019 kenti.com. All Rights Reserved. </p>
    <p>Users of this site agree to be bound by the legal stuff of the kulula.com websites | Privacy policy</p>
    </div> -->

    <!-- <div class="footer-cpy text-center">
        <div class="social_banner">
          <ul class="social_list">
            <li>
              <a href="#" class="facebook">
                <span class="fa fa-facebook" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="#" class="twitter">
                <span class="fa fa-twitter" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="#" class="dribble">
                <span class="fa fa-dribbble" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="#" class="vimeo">
                <span class="fa fa-vimeo" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-copy">
          <p>© 2018 Discover. All rights reserved | Design by
            <a href="http://w3layouts.com">W3layouts</a>
          </p>
        </div>
      </div> -->
  
  
<div class="container">
<div class="booking">
    <div class="row">
    
        <label for="Origin">Origin</label>
        <select id="Origin" name="Origin">
        <option value="Origin">Origin</option>
        <option value="OR Tambo Int Airport Jhb">OR Tambo Int Airport Jhb</option>
        <option value="Lanseria Int Jhb">Lanseria Int Jhb</option>
        <option value="Cape Town Int">Cape Town Int </option>
        <option value="East London">East London </option>
        <option value="Durban">Durban </option>
        <option value="George">George </option>
        <option value="Port Elizabeth">Port Elizabeth </option>
        
      </select>
     <!-- <label for="expyear">Exp Year</label>
                  <input type="text" id="expyear" name="expyear" placeholder="2018">  -->
   
      
      <label for="Destination">Destination</label>
      <select id="Destination" name="Destination">
          <option value="Destination">Destination</option>
          <option value="OR Tambo Int Airport Jhb">OR Tambo Int Airport Jhb</option>
          <option value="Lanseria Int Jhb">Lanseria Int Jhb</option>
          <option value="Cape Town Int">Cape Town Int </option>
          <option value="East London">East London </option>
          <option value="Durban">Durban </option>
          <option value="George">George </option>
          <option value="Port Elizabeth">Port Elizabeth </option>
          
        </select>
        
        
        </div><br>
        <div class="row">
          <label for ="dp"> Departing</label>
          <input type="date" id="dp" name="Departing" required>
      Returning: <input type="date" name="returning" required></div><br>

      

      <div class="row">
      Adult: <select >
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      Youth: <select >
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      Children:<select>
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      Infant: <select>
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        </div>
        <br>
        <div class="row">
        Cabin:<select required>
            <option value=""></option>
           <option value="Economy">Economy</option>
           <option value="Business">Business</option>
     
        </select>
        </div><br>
  <input type="button" value ="search">
</div>
</div>



  


  

  

