body{
    // background-image:url(https://www.google.com/search?q=picture&rlz=1C1CHBF_enZA757ZA757&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjFrOzNr-biAhXRVRUIHS_-ClUQ_AUIECgB#imgrc=IaQTxmu9jMfUGM:);
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100vh;
    overflow:auto;
    
}

/*-----for border----*/
.container{
   font-family:Roboto,sans-serif;
     background-image:url(https://image.freepik.com/free-vector/dark-blue-blurred-background_1034-589.jpg) ;
   
    border-style: 1px solid grey;
    margin: 0 auto;
    text-align: center;
    opacity: 0.8;
    margin-top: 67px;
  box-shadow: 2px 5px 5px 0px #eee;
    max-width: 900px;
    padding-top: 10px;
    height: px;
    margin-top: 166px;
}
/*--- for label of first and last name---*/
.lastname,.IDnumber,.room,.arrival,.Departure{
    margin-left: 1px;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    margin-top: 10px;
}
.firstname,.NumberofAdult,.Numberofchildren,.Numberofnightstaying{
    margin-left: 1px;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    margin-top: 5px;
    text-align : center;
}
#lname{
    margin-top:5px;
}
     

/*---for heading-----*/
.heading{
    text-decoration:bold;
    text-align : center;
    font-size:30px;
    color:#F96;
    padding-top:10px;
}
/*-------for email----------*/
 /*------label----*/
#email{
     margin-top: 5px;
}
/*-----------for Password--------*/
    /*-------label-----*/
.mail,.form{
    margin-left: 44px;
    font-family: sans-serif;
    color: white;
    font-size: 14px;
    margin-top: 13px;
}
.pass{
    color: white;
    margin-top: 9px;
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 6px;
    margin-top: 9px;
}
#password{
margin-top: 6px;
}

/*--------------for Gender---------------*/
    /*--------------label---------*/
.gender {
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    margin-left: 28px;
    margin-top: 8px;
}

    /*---------- for Input type--------*/
.col-xs-4.male{
    color: white;
    font-size: 13px;
    margin-top: 9px;
    padding-bottom: 16px;
}
.col-xs-4.female {
    color: white;
    font-size: 13px;
    margin-top: 9px;
    padding-bottom: 16px;
    padding-right: 95px;
}	
/*------------For submit button---------*/
.sbutton{
    color: white;
    font-size: 20px;
    border: 1px solid white;
    background-color: #080808;
    width: 32%;
    margin-left: 41%;
    margin-top: 16px;
    box-shadow: 0px 2px 2px 0px white;
        
  }
.btn.btn-warning:hover {
   box-shadow: 2px 1px 2px 3px #99ccff;
   background:#5900a6;
   color:#fff;
   transition: background-color 1.15s ease-in-out,border-color 1.15s ease-in-out,box-shadow 1.15s ease-in-out;
   
}

body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
    .p{
      color: #eee;
      font-size: medium
    }
 label{
   text-align: center;
 }
  }
     