/* You can add global styles to this file, and also import other style files */

fieldset {
    font-size:12px;
    padding:10px;
    width:250px;
    line-height:1.8;
    background-color: palegoldenrod;}

    legend{
        text-size-adjust: 10px;
    }
    