.mySlides {display: inline;}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:whitesmoke;
    font-size:x-large;
    font-style: italic

  }

  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightslategrey;
    color: white;
    text-align: center;
    height:100px;
 }