<body>
<form>
        <label >Personal Details</label>
<fieldset ><br><br>
        First name:<input type="text" name="firstname" required>
        Last name:<input type="text" name="lastname" required><br><br>
        ID Number:<input type="Number" name="IDNumber" required> 
        Email:<input type="text" name="Email" required><br><br>
        Phone Number:<input type="Number" name="Pno" required>
        DOB: <input type="date" name="DOB" required><br><br>
        <button (click)="onsubmit()">Submit</button><br><br>
    </fieldset>
     
    </form>

</body>
