<form>
  <fieldset>
    <legend style="text-align: center"><b>Application Form</b></legend>
  Name:<input type="text" name="Name" [(ngModel)]="name"><br>
  Password:<input type="number" name="Password" [(ngModel)]="password"><br>
  Email:<input type="text" name="Email" [(ngModel)]="Email"><br>
  ID_Number:<input type="number" name="ID_Number" [(ngModel)]="ID_Number"><br>
  Phone_Number:<input type="number" name="Phone_Number" [(ngModel)]="Phone_Number"><br>
   <button type="button"(click)="onLogin()">Login</button>
   </fieldset>
 </form>
