// body{
//     background-image:url(https://s3.envato.com/files/243754334/primag.jpg);
//     background-repeat:no-repeat;
//     background-size:cover;
//     width:80%;
//     height:30vh;
//     overflow:auto;
//     text-decoration:bold;
//     text-align : center;
//     font-size:30px;
//     color :white;
//     padding-top:10px;
//     margin-left: auto;
//     margin-right: auto

// }
   
h2{
    text-align: center;
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
    color:black;
    font-display: bold;
    font-size: 30px;

    
}
legend{
    text-align: center;
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    color: black;
    font-size: 50px;
}
p{
    text-align: center;
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
    color:black;  
}
   
