

<legend><b>About Us</b></legend>
<h2>WHO ARE WE</h2>

<p>
    The Lodge in Gauteng, South Africa is such great value for money and so affordable, that visitors who makes use of the Kenti Lodge in South Africa calls the price cheap. We want our visitors who stay at the kenti, to leave with fond memories and a longing to return.
    At the kenti Lodge we believe in value for value. A no-nonsense, no rip-off fee for clean, modern, comfortable and safe accommodation.
    The kenti is stylishly furnished with a warm friendly Eastern Ambiance.
</p>
<h2>GUEST HOUSE FACILITIES</h2>

<p>A comfortable stylish double bedroom with en-suite bathroom and TV.</p>
<p>All rooms with air-conditioners.</p>
<p>TV channels includes Satellite DSTV, MNET and all of the local channels.</p>
<p>State of the art hotel grade mattress and base set.
<p>luxurious crispy clean linen.</p>
<p>Luxury Towels, soap, shampoo.</p>
<p>Parking under beautiful shady trees.</p>
<p>Huge green lawn for you and your children to play football on.</p>
<p>Breakfast</p>
<p>Fully equipped self-catering kitchen.</p>
<p>Comfortable lounges to relax in.</p>
<p>Garden.</p>
<p>Groups Welcome.</p>
<p>Laundry Service.</p>
<p>Free Parking.</p>
<p>Internet/Email Services.</p>

<h2>TERM & CONDITIONS</h2>
<p>
A 50% deposit will secure your booking.
Bookings will be confirmed once full payment is received.
All reservations require one night's full deposit or 50% of total tariff for 2 nights or more.
Balance of payment is due and payable on arrival.
</p>


<h2>CANCELLATIONS</h2>
<p>
Less than 7 days notice NO Refund.
Refunds will only be considered after a bank clearance period of +- 10 days.
Refunds will be considered at the discretion of management.
No Refund for early checkout.
</p>


<h2>TIMES</h2>
<p>
Check-in: Between 14:00 and 20:00 daily
Any later arrivals require prior arrangements
Check-out: Before 10:00
Additional charges for late checkouts apply.
</p>

