
  <table >
   <tr>
     <th>Full Name</th>
     <td>{{fname}} {{lname}}</td>
   </tr>
   <tr>
    <th>Card Name</th>
    <td>{{cardname}}</td>
   </tr>
   <tr>
     <th>Card Number</th>
     <td>{{cardnumber}}</td> 
   </tr>
<tr>
  <th>Exp Month</th>
  <td>{{expmonth}}</td>
     </tr>

   <tr>
      <th>Exp Year</th>
      <td>{{expyear}}</td>
    </tr>
   <tr>
    <th>Cvv</th> 
    <td>{{cvv}}</td>
    </tr>
  
</table>
<br>
<P>If you are happy with the information above please click submit button below to book your room</P>
<button type="button" onclick="alert('Thank you for staying with us,an email has being send to you to conform your booking')">submit </button>